*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.date-header {
  font-size: 3rem;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.date-container {
  display: flex;
    justify-content: center;
    align-items: center;
}